%%-*- mode: erlang -*-
{sub_dirs, [
            "rel",
            "apps/sorter"
           ]}.
           
{clean_files, ["apps/*/ebin/*", "deps/*/ebin/*.beam"]}.

{lib_dirs, ["apps"]}.

{erl_opts, [debug_info, {i, "include"},{parse_transform, lager_transform}]}. %, fail_on_warning]}.

{deps,
 [
	 {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}},
	 {flake, ".*", {git, "https://github.com/timadorus/flake.git", "rebar_dep"}}
 ]
}.

{deps_dir, ["deps"]}.
